body{
	margin: 0;
	padding: 0;
}
ul,
ol {
  padding: 0;
  margin: 5px 0 0 0;
  margin-bottom: 0 !important;
}
ul li{
	list-style:none;
}
a{
	text-decoration: none !important;
}
p{
	margin-bottom: 0 !important;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

input,
textarea,
.uneditable-input {
  width: 206px;
}
input{
	padding: 15px !important;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
section{
	display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #353535;
    font-weight: 400;
    margin-top: 0;
	margin-bottom: 0;
}
header{
	top: 0;
}
footer{
    background: #222;
    bottom: 0;
}
.spanF{
	color: #fff;
	text-align: center;
	padding: 0 0 5px 0;
	display: block;
}
header .top .row {
    margin-bottom: 0;
}
.con_2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.topMenu li{
	display: inline-block;
	width: 32%;
}

.width_100{
	width: 100%;
}
.cateMenu li{
	display: inline-block;
	margin:0 ;
	padding: 0;
}
.imageM{
	width: 100%;
}
.textGray{
	color: #333;
	font-size: 17px;
	height: 90px;
    white-space: normal;
}
.textRed{
	color: red;
	font-size: 20px;
	font-weight: 600;
}
.cateMenu li{
	height: 80px; 
	width: 80px; 
	margin: auto;
}
.proImg{
	width: 50%; 
	display: inline-block; 
	float:left;
}
.proImg img{
	min-height: 120px;
}
.proTextBox{
	width: 50%;  
	display: inline-block;
	height: 120px;
	padding-left: 10px;
}
.proText{
	width: 100%;  
	display: inline-block;
}
.proS{
	padding: 0 10px;
}
.proPrice{
	margin: 0; 
	display: inline-block;
	height: 30px;
	width: 100%:
}
.pointer {
	cursor: pointer;
}
.hrS{
	color: #ddd !important;
	clear:both;
}
.subMenuS{
	display: none; 
	position: absolute; 
	background: #ffc000; 
	width: 50%;
	margin-left: -15px;
}
.subMenuS li{
	border-bottom: 1px solid #fff;
	padding: 5px;
}
.subMenuS li a{
	color: white;
    font-size: 20px;
    font-weight: bold;
}
.pull-right{
	float: right;
}
.pull-left{
	float:left;
}
.searchBox{
	background: #ffc000;
	padding: 5px 15px;
}
.topM{
	margin-bottom: 3px;
	margin-top: 10px;
}
.subProUl{
	margin-top: 5px;
}
.subProUl li{
	width: 32%;
	display: inline-block;
}
.textAlingC{
	text-align: center;
}
.searchProUl li{
	width: 23%;
	display: inline-block;
}
.btn-primary{
	color: #fff !important;
    background-color: #FFC000 !important;
    border-color: #FFC000 !important;
	font-weight: bold !important;
}
.btn-primary-o{
	color: #FFC000 !important;
    background-color: #FFF !important;
    border-color: #FFC000 !important;
	font-weight: bold !important;
}
.btn{
	padding: .2rem .75rem !important;
}
.proDetailImg{
    width: 100%;
    height: 200px;
    text-align: center;	
}
.faStarC{
	color: #ffc000;
	font-size: 2em !important;
}
.subDetailPrice{
	text-align: center; 
	color: #ffc000;
}
.myPageUl>li{
	padding: 8px 0;
	border-bottom: 1px solid #ddd;
}
.myPageUl>li:last-child{
	border-bottom: none;
}
.myPageT{
	font-size: 20px;
	margin-top: -5px;
}
.arrowC{
	color: #444444;
}
.trUl li{
	display: inline-block;
}
.iconH{
	height: 64px;
}
.iconT{
	text-align: center;
}
.diB{
	display: block;
}
.trBtn{
	border: solid 1px #ddd !important;
	background: #fff;
	font-weight: bold !important;
}
.trBtn:hover{
	background: #ddd;
	color: #fff;
	font-weight: bold;
}
.trTab{
	border: solid 1px #ddd;
}
.trTab li{
	border-right: solid 1px #ddd;
	padding: 3px 0;
	width: 24.2%;
	text-align: center;
	cursor:pointer;
	
}
.trTab li:hover{
	background: #ddd;
	color: #fff;
	font-weight: bold;
}
.trTab li:last-child{
	border-right: none;
}
.shImg img{
	max-height: 100px;
}
.eaS{

}
.eaS input{
	width: 40px;
	border: solid 1px #ffcooo;
}
.totalP{
	color: red;
	font-weight: bold;
}
.orderLi li input, select{
	width: 100%;
	margin-bottom: 5px;
}
.comfirm{
	color: #ffc000;
	padding: 2px;
}
.orderP{
	width: 49%; 
	float: left;
	margin-bottom: 5px;
}
.mT5{
	margin-top: 5px;
}
.orderTitle{
	color: #ffc000;
}
.marBo-0{
	margin-bottom: 0 !important;
}
.mItemT{
	text-align: center;
}
.avg{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #ffc000;
}